{% extends "app.twig" %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url('/assets/css/organization.css') }}">
<style>
.profile-img-custom {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /*background-image: url("{{url('/assets/img/uploads/users/')}}{{user.id}}/{{ user.profile_img_url }}");*/
    background-size: contain;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
}
                                                                
</style>
{% endblock %}

{% block title %}Organizations Show{% endblock %}

{% block content %}

  {% if hasMessages() %}
    {% if successMessage() %}
        <script>swal("Success!", "{{successMessage()}}", "success");</script>
    {% elseif errorMessage() %}
        <script>swal("Error!", "{{errorMessage()}}", "error");</script>
    {% endif %}
  {% endif %}

    <!--====== Page Title Start ======-->
    <section id="hero_img_url" class="page-title-area">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12 text-center">
                    <h1 class="page-title">{{ organization[0].name }}</h1>
                </div>
            </div>
        </div>
    </section>
    <!--====== Page Title End ======-->

    <div class="container my-5">


        {% if organization[0] %}

            <!--====== Project Details Area Start ======-->
            <section class="project-details-area section-gap-extra-bottom">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        
                        <div class="col-12">
                            <div class="project-details-tab">
                        
                                <div class="tab-content" id="projectTabContent">
                                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                                        <div class="row justify-content-center">

                                            <div class="col-lg-6 p-5 text-center aligned left-leaf">
                                                {% if organization[0].featured_img_url %}
                                                    <img src="{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{ organization[0].featured_img_url }}" alt="profile image"/>
                                                {% else %}
                                                    <img src="{{url('/assets/img/project/project-details.jpg')}}" id="featured_img_url" alt="Image"/>
                                                {% endif %}
                                            </div>

                                            <div class="col-lg-6 p-5 text-center aligned">
                                                <div class="project-summery">
                                                    <!--<a href="#" class="category">Headphone</a>-->
                                                    <h3 class="project-title">
                                                        {{ organization[0].cta_text }}
                                                    </h3>

                                                    <!---<div class="meta">
                                                        <div class="author">
                                                            <img src="{{url('/assets/img/author-thumbs/03.jpg')}}" alt="Thumb">
                                                            <a href="#">James W. Barrows</a>
                                                        </div>
                                                        <a href="#" class="date"><i class="far fa-calendar-alt"></i>25 Feb 2021</a>
                                                    </div>-->
                                                    <div class="project-funding-info">
                                                        <div class="info-box">
                                                            <span>${{donations_total}}</span>
                                                            <span class="info-title">Pledged</span>
                                                        </div>
                                                        <div class="info-box">
                                                            <span class="">{{ donation_statistics['donations_count'] }}</span>
                                                            <span class="info-title">{% if donation_statistics['donations_count'] > 1 %} Donations {% else %} Donation {% endif %}</span>
                                                        </div>
                                                        {% if donation_statistics['rank'] == 1 %}
                                                            <div class="info-box rank-gold">
                                                                <span class="text-white">{% if donation_statistics['rank'] > 0 %} {{ donation_statistics['rank'] }} {% else %} {{ donation_statistics['rank'] }} {% endif %}</span>
                                                                <span class="info-title text-white">Rank</span>
                                                            </div>
                                                        
                                                        {% elseif donation_statistics['rank'] == 2 %}
                                                            <div class="info-box rank-silver">
                                                                <span class="text-white">{% if donation_statistics['rank'] > 0 %} {{ donation_statistics['rank'] }} {% else %} {{ donation_statistics['rank'] }} {% endif %}</span>
                                                                <span class="info-title text-white">Rank</span>
                                                            </div>

                                                        {% elseif donation_statistics['rank'] == 3 %}
                                                            <div class="info-box rank-bronze">
                                                                <span class="text-white">{% if donation_statistics['rank'] > 0 %} {{ donation_statistics['rank'] }} {% else %} {{ donation_statistics['rank'] }} {% endif %}</span>
                                                                <span class="info-title text-white">Rank</span>
                                                            </div>

                                                        {% else %}
                                                            <div class="info-box">
                                                                <span>{% if donation_statistics['rank'] > 0 %} {{ donation_statistics['rank'] }} {% else %} ? {% endif %}</span>
                                                                <span class="info-title">Rank</span>
                                                            </div>

                                                        {% endif %}
                                                        
                                                    </div>
                                                    <div class="project-raised clearfix">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div class="raised-label">Raised ${{donations_total}}</div>
                                                        </div>
                                                        <div class="stats-bar" data-value="79">
                                                            <div class="bar-line"></div>
                                                        </div>
                                                    </div>

                                                    <div class="project-form aligned">
                                                        <form method="post" action="{{url('/organizations/')}}{{organization[0].id}}/donate">
                                                            <ul class="donation-amount">
                                                                <li>
                                                                    <input type="radio" class="btn-check width-auto" name="donation_options" id="option1" autocomplete="off" value="0.00" checked>
                                                                    <label class="btn donation_options checked_donation" for="option1" id="option1Label">Custom</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" class="btn-check width-auto" name="donation_options" id="option2" autocomplete="off" value="5.00">
                                                                    <label class="btn donation_options" for="option2">$5</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" class="btn-check width-auto" name="donation_options" id="option3" autocomplete="off" value="10.00">
                                                                    <label class="btn donation_options" for="option3">$10</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" class="btn-check width-auto" name="donation_options" id="option4" autocomplete="off" value="25.00">
                                                                    <label class="btn donation_options" for="option4">$25</label>
                                                                </li>
                                                                <li>
                                                                    <input type="radio" class="btn-check width-auto" name="donation_options" id="option5" autocomplete="off" value="50.00">
                                                                    <label class="btn donation_options" for="option5">$50</label>
                                                                </li>
                                                            </ul>

                                                            <button type="submit" class="main-btn">Donate Now <i class="far fa-arrow-right"></i></button>
                                                        </form>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            <div class="col-lg-6 p-5 text-center aligned">
                                                <div class="description-content text-center">
                                                    <h4 class="description-title">About Us</h4>
                                                    <p>
                                                        {{organization[0].about_us_text}}
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 p-5 aligned double-right-leaf">
                                                {% if organization[0].about_img_url %}
                                                    <img src="{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{ organization[0].about_img_url }}" alt="about image"/>
                                                {% else %}
                                                    <img src="{{url('/assets/img/project/project-details-2.jpg')}}" id="about_img_url" alt="Image"/>
                                                {% endif %}
                                            </div>

                                            <div class="col-lg-6 p-5 double-left-leaf">
                                                <div class="rewards-box text-center">
                                                    <h4 class="title"><span>Contact</span></h4>

                                                    <div class="profile-img aligned">

                                                        {% if organization[0].contact_img_url %}
                                                            <img id="contact_img_url" class="max-fifty" src="{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{ organization[0].contact_img_url }}" alt="contact image"/>
                                                        {% else %}
                                                            <img id="contact_img_url" class="max-fifty" src="{{url('/assets/img/project/project-list-01.jpg')}}" alt="Image"/>
                                                        {% endif %}

                                                    </div>

                                                    <span class="rewards-count text-center">Phone</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">
                                                                                                                
                                                            <div class="input-group mb-2">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-phone"></i>
                                                                    </div>
                                                                </div>
                                                                <input readonly class="form-control brand-input input-left-padded right-rounded" type="text" value="{{ organization[0].phone }}" name="phone">
                                                            </div>

                                                        </li>
                                                    </ul>

                                                    <span class="rewards-count text-center">Email</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">
                                                        
                                                            <div class="input-group mb-2">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-envelope"></i>
                                                                    </div>
                                                                </div>
                                                                <input readonly class="form-control brand-input input-left-padded right-rounded" type="text" value="{{ organization[0].email }}" name="email">
                                                            </div>

                                                        </li>
                                                    </ul>

                                                    <span class="rewards-count text-center">Address</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">

                                                            <div class="input-group mb-2">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-map-marker-alt"></i>
                                                                    </div>
                                                                </div>
                                                                <input readonly class="form-control brand-input input-left-padded right-rounded" type="text" value="{{ organization[0].address }}" name="address">
                                                            </div>
                                                            
                                                        </li>
                                                    </ul>

                                                    <span class="rewards-count text-center">Social Media</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">
                                                            <i class="fab fa-facebook-square fa-2x"></i>
                                                            <i class="fab fa-twitter fa-2x"></i>
                                                            <i class="fab fa-instagram fa-2x"></i>
                                                            <i class="fab fa-google fa-2x"></i>
                                                            <i class="fab fa-linkedin fa-2x"></i>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <div class="col-lg-6 p-5 text-center aligned">
                                                <h4 class="description-title">What we do</h4>
                                                <p>
                                                    {{ organization[0].detail_one }}
                                                </p>
                                                <ul class="description-list">
                                                    {% if count(detail_texts) > 0 %}
                                                        {% for detail_text in detail_texts %}
                                                            {% if detail_text != null %}
                                                                <li>{{ detail_text }}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                                <p>
                                                    {{ organization[0].detail_two }}
                                                </p>
                                            </div>

                                            {% if donations[0] %}
                                                <div class="col-lg-6 p-5 aligned text-center">
                                                    

                                                    <div class="col-md-10 p-5 rounder">
                                                        <div class="profile-head my-5 text-center">
                                                            <h4>
                                                                Donations Overview
                                                            </h4>
                                                        </div>

                                                        <div class="left-text">
                                                            <strong>Rank</strong>
                                                            <span class="float-right brand-color" >  {{ donation_statistics['rank'] }} </span>
                                                        </div>
                                                        <hr>
                                                        <div class="left-text">
                                                            <strong>Total Donors</strong>
                                                            <span class="float-right brand-color" > {{ donation_statistics['backers'] }} </span>
                                                        </div>
                                                        <hr>
                                                        <div class="left-text">
                                                            <strong>Total Donations</strong>
                                                            <span class="float-right brand-color" > {{ donation_statistics['donations_count'] }} </span>
                                                        </div>
                                                        <hr>
                                                        <div class="left-text">
                                                            <strong>Average Donation</strong>
                                                            <span class="float-right brand-color" > ${{ donation_statistics['average_donation'] }} </span>
                                                        </div>
                                                        <hr>
                                                        <div class="left-text">
                                                            <strong>Highest Donation</strong>
                                                            <span class="float-right brand-color" > ${{ donation_statistics['highest_donation']['amount'] }} </span>
                                                        </div>
                                                        <hr>
                                                        <div class="left-text">
                                                            <strong>All Donations</strong>
                                                            <span class="float-right brand-color" > ${{ donation_statistics['total'] }} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 p-5 aligned left-leaf text-center">
                                                    
                                                        <h1 class="my-5 text-white">Top Donations</h1>

                                                        <ul>
                                                            {% for donation in donations %}
                                                                <li class="list-inline-item p-4 hidden donation_list_item text-center aligned shadow m-3 left-leaf">
                                                                    {% if donation.profile_img_url %} 
                                                                        {% if donation.is_invisible == 0 %}
                                                                            <div class="profile-img-custom" style="background-image: url('/assets/img/default_profile_img.png');"></div>
                                                                        {% else %}
                                                                            <div class="profile-img-custom" style="background-image: url(/assets/img/uploads/users/{{ donation.user_id }}/{{ donation.profile_img_url }});"></div>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <div class="profile-img-custom" style="background-image: url('/assets/img/default_profile_img.png');"></div>
                                                                    {% endif %}
                                                                    <span class="bolder">
                                                                    {% if donation.is_invisible == 0 %}
                                                                        Private
                                                                    {% else %}
                                                                        {{donation.fname}} {{donation.lname}}
                                                                    {% endif %}
                                                                    
                                                                    
                                                                    </span>
                        

                                                                    <span class=" bolder">${{donation.amount}}</span>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>

                                                        <div><button class="my-5 btn main-btn">See all</button></div>
                                                    
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="update" role="tabpanel">
                                        Update
                                    </div>
                                    <div class="tab-pane fade" id="bascker-list" role="tabpanel">
                                        Bascker List
                                    </div>
                                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                                        Reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--====== Project Details Area End ======-->
        {% else %}
            <div class="text-center">No organization found by specified id.</div>
        {% endif %}

    </div>

{% endblock %}

{% block pageScripts %}
    <script src="{{url('/assets/js/FunApp.js')}}"></script>
    <script>

        $(document).ready(function() {
            {% if organization[0].hero_img_url %}
                var hero_img_url = "{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{organization[0].hero_img_url}}";
                swapbackgrounds(document.getElementById('hero_img_url'), hero_img_url);
            {% endif %}

            $(".donation_options").click(function() {
                $(".donation_options").removeClass("checked_donation");
                $(this).addClass("checked_donation");
            });

            $(".donation_list_item").first().removeClass("hidden");
        });

        function swapbackgrounds(element, img)
        {
            var newimg = "url('" + img  +"')";
            $(element).css("background-image", newimg);
        }

    </script>
{% endblock %}