{% extends "app.twig" %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url('/assets/css/organization.css') }}">
<link rel="stylesheet" href="{{url('/assets/css/crud.css')}}">
{% endblock %}

{% block title %}Organizations Show{% endblock %}

{% block content %}

  {% if hasMessages() %}
    {% if successMessage() %}
        <script>swal("Success!", "{{successMessage()}}", "success");</script>
    {% elseif errorMessage() %}
        <script>swal("Error!", "{{errorMessage()}}", "error");</script>
    {% endif %}
  {% endif %}

    <div class="container my-5">


        {% if organization[0] %}
        
            <a href="javascript:FunApp.backButtonClick()" class="btn btn-success mb-5 btn-chubby"><i class="bi bi-chevron-left"></i> Back</a>
            {% if (organization[0].is_invisible) %}
            <a href="{{url('/organizations/')}}{{organization[0].id}}" class="btn btn-success mb-5 btn-chubby btn-clear"><i class="fas fa-eye"></i> View Live</a>
            {% endif %}
            <a class="btn btn-primary edit-btn mb-5 float-right btn-chubby" href="/admin/organizations/{{ organization[0].id }}/edit"><i class="bi bi-pencil"></i> Edit</a>

            <!--====== Page Title Start ======-->
            <section id="hero_img_url" class="page-title-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-12 text-center">
                            <h1 class="page-title">{{ organization[0].name }}</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!--====== Page Title End ======-->

            <!--====== Project Details Area Start ======-->
            <section class="project-details-area section-gap-extra-bottom">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        
                        <div class="col-12">
                            <div class="project-details-tab">
                        
                                <div class="tab-content" id="projectTabContent">
                                    <div class="tab-pane fade show active" id="description" role="tabpanel">
                                        <div class="row justify-content-center">

                                            <div class="col-lg-6 p-5 text-center aligned left-leaf mp-2">
                                                {% if organization[0].featured_img_url %}
                                                    <img src="{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{ organization[0].featured_img_url }}" alt="profile image"/>
                                                {% else %}
                                                    <img src="{{url('/assets/img/project/project-details.jpg')}}" id="featured_img_url" alt="Image"/>
                                                {% endif %}
                                            </div>

                                            <div class="col-lg-6 p-5 text-center aligned mp-2">
                                                <div class="project-summery">
                                                    <!--<a href="#" class="category">Headphone</a>-->
                                                    <h3 class="project-title">
                                                        {{ organization[0].cta_text }}
                                                    </h3>

                                                    <!---<div class="meta">
                                                        <div class="author">
                                                            <img src="{{url('/assets/img/author-thumbs/03.jpg')}}" alt="Thumb">
                                                            <a href="#">James W. Barrows</a>
                                                        </div>
                                                        <a href="#" class="date"><i class="far fa-calendar-alt"></i>25 Feb 2021</a>
                                                    </div>-->
                                                    <div class="project-funding-info">
                                                        <div class="info-box rounder">
                                                            <span>{% if false %} ${{donations_total}} {% else %} X {% endif %}</span>
                                                            <span class="info-title">Pledged</span>
                                                        </div>
                                                        <div class="info-box rounder">
                                                            <span>X</span>
                                                            <span class="info-title">Backers</span>
                                                        </div>
                                                        <div class="info-box rounder">
                                                            <span>X</span>
                                                            <span class="info-title">Rank</span>
                                                        </div>
                                                    </div>
                                                    <div class="project-raised clearfix">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div class="raised-label">Raised {% if false %} ${{donations_total}} {% else %} X {% endif %}</div>
                                                        </div>
                                                        <div class="stats-bar" data-value="79">
                                                            <div class="bar-line"></div>
                                                        </div>
                                                    </div>

                                                    <div class="project-form aligned ">
                                                        <form action="#">
                                                            <ul class="donation-amount justify-content-center">
                                                                <li>
                                                                    <input disabled type="radio" class="btn-check width-auto" name="donation_options" id="option1" autocomplete="off" value="-1" checked>
                                                                    <label class="btn donation_options checked_donation" for="option1" id="option1Label">Custom</label>
                                                                </li>
                                                                <li>
                                                                    <input disabled type="radio" class="btn-check width-auto" name="donation_options" id="option2" autocomplete="off" value="5">
                                                                    <label class="btn donation_options" for="option2">$5</label>
                                                                </li>
                                                                <li>
                                                                    <input disabled type="radio" class="btn-check width-auto" name="donation_options" id="option3" autocomplete="off" value="10">
                                                                    <label class="btn donation_options" for="option3">$10</label>
                                                                </li>
                                                                <li>
                                                                    <input disabled type="radio" class="btn-check width-auto" name="donation_options" id="option4" autocomplete="off" value="25">
                                                                    <label class="btn donation_options" for="option4">$25</label>
                                                                </li>
                                                                <li>
                                                                    <input disabled type="radio" class="btn-check width-auto" name="donation_options" id="option5" autocomplete="off" value="50">
                                                                    <label class="btn donation_options" for="option5">$50</label>
                                                                </li>
                                                            </ul>
                                                            <button disabled class="btn main-btn btn-chubby">Donate Now <i class="far fa-arrow-right"></i></button>
                                                        </form>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            <div class="col-lg-6 p-5 text-center aligned mp-2 mpt-5">
                                                <div class="description-content text-center">
                                                    <h4 class="description-title">About Us</h4>
                                                    <p>
                                                        {{organization[0].about_us_text}}
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-6 p-5 aligned double-right-leaf mp-2">
                                                {% if organization[0].about_img_url %}
                                                    <img class="m-rounder" src="{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{ organization[0].about_img_url }}" alt="about image"/>
                                                {% else %}
                                                    <img class="m-rounder" src="{{url('/assets/img/project/project-details-2.jpg')}}" id="about_img_url" alt="Image"/>
                                                {% endif %}
                                            </div>

                                            <div class="col-lg-6 p-5 right-leaf aligned mpx-1">
                                                <div class="rewards-box text-center one-hundred m-rounder">
                                                    <h4 class="title"><span>Contact</span></h4>

                                                    <div class="profile-img aligned">

                                                        {% if organization[0].contact_img_url %}
                                                            <img id="contact_img_url" class="max-fifty" src="{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{ organization[0].contact_img_url }}" alt="contact image"/>
                                                        {% else %}
                                                            <img id="contact_img_url" class="max-fifty" src="{{url('/assets/img/project/project-list-01.jpg')}}" alt="Image"/>
                                                        {% endif %}

                                                    </div>

                                                    <span class="rewards-count text-center">Phone</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">
                                                                                                                
                                                            <div class="input-group mb-2">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-phone"></i>
                                                                    </div>
                                                                </div>
                                                                <input readonly class="form-control brand-input input-left-padded right-rounded" type="text" value="{{ organization[0].phone }}" name="phone">
                                                            </div>

                                                        </li>
                                                    </ul>

                                                    <span class="rewards-count text-center">Email</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">
                                                        
                                                            <div class="input-group mb-2">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-envelope"></i>
                                                                    </div>
                                                                </div>
                                                                <input readonly class="form-control brand-input input-left-padded right-rounded" type="text" value="{{ organization[0].email }}" name="email">
                                                            </div>

                                                        </li>
                                                    </ul>

                                                    <span class="rewards-count text-center">Address</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">

                                                            <div class="input-group mb-2">
                                                                <div class="input-group-prepend">
                                                                    <div class="input-group-text">
                                                                        <i class="fas fa-map-marker-alt"></i>
                                                                    </div>
                                                                </div>
                                                                <input readonly class="form-control brand-input input-left-padded right-rounded" type="text" value="{{ organization[0].address }}" name="address">
                                                            </div>
                                                            
                                                        </li>
                                                    </ul>

                                                    <span class="rewards-count text-center">Social Media</span>
                                                    <ul class="rewards-info">
                                                        <li class="text-center">
                                                            <i class="fab fa-facebook-square fa-2x"></i>
                                                            <i class="fab fa-twitter fa-2x"></i>
                                                            <i class="fab fa-instagram fa-2x"></i>
                                                            <i class="fab fa-google fa-2x"></i>
                                                            <i class="fab fa-linkedin fa-2x"></i>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <div class="col-lg-6 p-5 text-center aligned mp-2">
                                                <h4 class="description-title">What we do</h4>
                                                <p>
                                                    {{ organization[0].detail_one }}
                                                </p>
                                                <ul class="description-list">
                                                    {% if count(detail_texts) > 0 %}
                                                        {% for detail_text in detail_texts %}
                                                            {% if detail_text != null %}
                                                                <li>{{ detail_text }}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                                <p>
                                                    {{ organization[0].detail_two }}
                                                </p>
                                            </div>


                                            <div class="col-lg-12 p-5" style="pointer-events: none;">
                                                <div class="form-group mt-5 float-right">
                                                    <label for="name" class="form-label">Enabled</label>
                                                    <label class="switch">
                                                        <input type="checkbox" {% if (organization[0].is_invisible) %} checked {% endif %} name="is_invisible">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="update" role="tabpanel">
                                        Update
                                    </div>
                                    <div class="tab-pane fade" id="bascker-list" role="tabpanel">
                                        Bascker List
                                    </div>
                                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                                        Reviews
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--====== Project Details Area End ======-->
        {% else %}
            <div class="text-center">No organization found by specified id.</div>
        {% endif %}

    </div>

{% endblock %}

{% block pageScripts %}
    <script src="{{url('/assets/js/FunApp.js')}}"></script>
    <script>

        $(document).ready(function() {
            {% if organization[0].hero_img_url %}
                var hero_img_url = "{{url('/assets/img/uploads/organizations/')}}{{organization[0].id}}/{{organization[0].hero_img_url}}";
                swapbackgrounds(document.getElementById('hero_img_url'), hero_img_url);
            {% endif %}
        });

        function swapbackgrounds(element, img)
        {
            var newimg = "url('" + img  +"')";
            $(element).css("background-image", newimg);
        }

    </script>
{% endblock %}