{% extends "app.twig" %}

{% block pageStyles %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    
{% endblock %}

{% block title %}Tokens{% endblock %}

{% block content %}

  {% if hasMessages() %}
    {% if successMessage() %}
        <script>swal("Success!", "{{successMessage()}}", "success");</script>
    {% elseif errorMessage() %}
        <script>swal("Error!", "{{errorMessage()}}", "error");</script>
    {% endif %}
  {% endif %}

  <div class="container my-5">

        <a href="{{url('/superuser/organizations/tokens/create')}}" class="btn btn-success mb-5 float-right"><i class="bi bi-plus"></i> New</a>

        {% if tokens %}
            <table class="table table-striped table-dark table-bordered table-responsive" data-toggle="table" data-pagination="true" data-search="true">
                <thead>
                    <tr>
                        <th class="mobile-hidden" data-sortable="true">ID</th>
                        <th data-sortable="true">Token</th>
                        <th class="mobile-hidden text-center" data-sortable="true">Organization</th>
                        <!--<th class="actions"></th>-->
                    </tr>
                </thead>
                <tbody>
                {% for token in tokens %}

                    <tr>
                        <td class="mobile-hidden">
                            {{ token.id }}
                        </td>
                        <td class="primary-mobile-td">
                            {{ token.remember_token }}
                        </td>
                        <td class="mobile-hidden text-center">
                            {{ token.name }}
                        </td>
                        <!--<td class="mobile-td text-center">
                            <a href="/superuser/organizations/tokens/{{ token.id }}/edit" class="btn btn-primary"><i class="bi bi-pencil"></i><span class="mobile-hidden"> Edit</span></a>
                            <a href="/superuser/organizations/tokens/{{ token.id }}" class="btn btn-secondary"><i class="bi bi-eye"></i><span class="mobile-hidden"> View</span></a>
                            <a href="javascript:FunApp.deleteResource({{ token.id }}, 'token', 'delete-form-{{ token.id }}')" class="btn btn-danger"><i class="bi bi-trash"></i><span class="mobile-hidden"> Delete</span></a>
                            <form method="post" action="/superuser/organizations/tokens/{{ token.id }}/delete" id="delete-form-{{ token.id }}"></form>
                        </td>-->
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No tokens found.
        {% endif %}
    </div>

{% endblock %}

{% block pageScripts %}
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="{{url('/assets/js/FunApp.js')}}"></script>
{% endblock %}