{% extends "app.twig" %}

{% block pageStyles %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    
{% endblock %}

{% block title %}Organizations{% endblock %}

{% block content %}

  {% if hasMessages() %}
    {% if successMessage() %}
        <script>swal("Success!", "{{successMessage()}}", "success");</script>
    {% elseif errorMessage() %}
        <script>swal("Error!", "{{errorMessage()}}", "error");</script>
    {% endif %}
  {% endif %}

  <div class="container my-5">

        <!--<a href="{{url('/superuser/organizations/create')}}" class="btn btn-success mb-5 float-right"><i class="bi bi-plus"></i> New</a>-->

        {% if organizations %}
            <table class="table table-striped table-dark table-bordered table-responsive" data-toggle="table" data-pagination="true" data-search="true">
                <thead>
                    <tr>
                        <th class="mobile-hidden" data-sortable="true">ID</th>
                        <th data-sortable="true">Type</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                {% for organization in organizations %}

                    <tr>
                        <td class="mobile-hidden">
                            {{ organization.id }}
                        </td>
                        <td class="primary-mobile-td">
                            {{ organization.name }}
                        </td>
                        <td class="mobile-td text-center">
                            <a href="/admin/organizations/{{ organization.id }}/edit" class="btn btn-primary"><i class="bi bi-pencil"></i><span class="mobile-hidden"> Edit</span></a>
                            <a href="/admin/organizations/{{ organization.id }}" class="btn btn-secondary"><i class="bi bi-eye"></i><span class="mobile-hidden"> View</span></a>
                            <!--<a href="javascript:FunApp.deleteResource({{ organization.id }}, 'icon type', 'delete-form-{{ organization.id }}')" class="btn btn-danger"><i class="bi bi-trash"></i><span class="mobile-hidden"> Delete</span></a>-->
                            <form method="post" action="/superuser/organizations/{{ organization.id }}/delete" id="delete-form-{{ organization.id }}"></form>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No icon types found.
        {% endif %}
    </div>

{% endblock %}

{% block pageScripts %}
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="{{url('/assets/js/FunApp.js')}}"></script>
{% endblock %}