{% extends "app.twig" %}

{% block pageStyles %}
<link rel="stylesheet" href="{{ url('/assets/css/profile.css') }}">
<style>
.profile-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url("{{url('/assets/img/uploads/users/')}}{{user.id}}/{{ user.profile_img_url }}");
    background-size: contain;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
}

.emp-profile {
    width: 550px;
    border-radius: 75px;
}
.custom-group-text {
    border: 9px solid #02a95c;
}
</style>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block content %}

  {% if hasMessages() %}
    {% if successMessage() %}
        <script>swal("Success!", "{{successMessage()}}", "success");</script>
    {% elseif errorMessage() %}
        <script>swal("Error!", "{{errorMessage()}}", "error");</script>
    {% endif %}
  {% endif %}

  <div class="container emp-profile my-5 shadow">
    <form>
      <div class="row">
        <div class="col-md-12 mb-5">
            <a href="{{ url('/user/profile/edit') }}" class="main-btn nav-btn d-sm-inline-block float-right">Edit</a>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
          <div class="profile-img">

              {% if user.profile_img_url %}
                <img src="{{url('/assets/img/uploads/users/')}}{{user.id}}/{{ user.profile_img_url }}" class="hidden" alt="profile image"/>
              {% else %}
                <img src="{{url('/assets/img/default_profile_img.png')}}" class="hidden" alt="default profile image"/>
              {% endif %}

          </div>
        </div>
        <div class="col-lg-12 my-5">
          <div class="row">
              
              <div class="col-md-12 text-center">
                  <div class="profile-head">
                      <h5>
                          {{ user.fname }} {{ user.lname }}
                      </h5>
                      <h6>
                          
                      </h6>
                      <p class="proile-rating mt-0"><span>Karma Points :</span> {{donations_total}}</p>
                  </div>
              </div>
          </div>
          
          <div class="row">
              <div class="col-md-12 mt-5 mb-3 text-center">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item m-twenty-five" role="presentation">
                      <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item m-twenty-five" role="presentation">
                      <a class="nav-link" id="donations-tab" data-bs-toggle="tab" data-bs-target="#donations" type="button" role="tab" aria-controls="donations" aria-selected="false">Donations</a>
                    </li>
                    <li class="nav-item m-twenty-five" role="presentation">
                      <a class="nav-link" id="followers-tab" data-bs-toggle="tab" data-bs-target="#followers" type="button" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
                    </li>
                    <li class="nav-item m-twenty-five" role="presentation">
                      <a class="nav-link" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab" aria-controls="following" aria-selected="false">Following</a>
                    </li>
                </ul>
              </div>
              <div class="col-md-12 mpt-1">
                  <div class="tab-content profile-tab mpx-5" id="myTabContent">

                      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6 m-fifty m-text-center" >
                                <label>Name</label>
                            </div>
                            <div class="col-md-6 m-fifty m-text-center">
                                <p class="">{{ user.fname }} {{ user.lname }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 m-fifty m-text-center">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6 m-fifty m-text-center">
                                <p class="">{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 m-text-center mpt-1">
                                <label>Social Media</label>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="text-center social-medias brand-color">
                                  <i class="fab fa-2x fa-facebook"></i>
                                  <i class="fab fa-2x fa-instagram"></i>
                                  <i class="fab fa-2x fa-twitter"></i>
                                  <i class="fab fa-2x fa-linkedin"></i>
                                  <i class="fab fa-2x fa-google"></i>
                                </p>
                            </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="donations" role="tabpanel" aria-labelledby="donations-tab">
                        {% if donations[0] %}

                          <div class="row m-hidden">
                              <div class="col-md-4">
                                  <label>To</label>
                              </div>
                              <div class="col-md-4">
                                  <label>Amount</label>
                              </div>
                              <div class="col-md-4">
                                  <label>Date</label>
                              </div>
                              
                          </div>

                          {% for donation in donations %}
                            <div class="row row_donations">
                              <div class="col-md-4">
                                  <a href="/organizations/{{donation.recipient_organization_id}}">{{donation.name}}</a>
                              </div>
                              <div class="col-md-4">
                                  <p>${{donation.amount}}</p>
                              </div>
                              <div class="col-md-4 m-hidden">
                                  <label>{{ donation.created_at|format_datetime() }}</label>
                              </div>
                            </div>
                            <hr>
                          {% endfor %}

                          {% else %}
                              0 Donations
                          {% endif %}
                      </div>

                      <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                        <div class="row">
                          {% for follower in followers %}
                              <div class="col-lg-4 aligned text-center m-max-fifty">
                                  <div class="profile-img one-hundred-box" style="background-image:url({{url('/assets/img/uploads/users/')}}{{follower.user_id}}/{{follower.profile_img_url}}")></div>
                                  <a href="{{url('/user/profile/v/')}}{{follower.user_id}}" class="brand-color">{{ follower.fname }} {{ follower.lname }}</a><br>
                              </div>
                          {% endfor %}
                          {% if followers[0] %}

                          {% else %}
                              0 Followers
                          {% endif %}
                        </div>
                      </div>
                      <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                        <div class="row">
                          {% for follower in following %}
                            <div class="col-lg-4 aligned text-center m-max-fifty">
                                <div class="profile-img one-hundred-box" style="background-image:url({{url('/assets/img/uploads/users/')}}{{follower.user_id}}/{{follower.profile_img_url}}")></div>
                                <a href="{{url('/user/profile/v/')}}{{follower.user_id}}" class="brand-color">{{ follower.fname }} {{ follower.lname }}</a><br>
                            </div>
                          {% endfor %}
                          {% if following[0] %}

                          {% else %}
                              0 Following
                          {% endif %}
                        </div>
                      </div>

                  </div>
              </div>
          </div>
        </div>

    </form>           
  </div>

{% endblock %}

{% block pageScripts %}
    <script src="{{url('/assets/js/FunApp.js')}}"></script>
    <script>

        $(document).ready(function() {
            var dropdownHTML = 
            `
            <ul class="dropdown-menu dropdown-toggleable shadow">
                    
            </ul>
            `;
            var html =
            `
            <input class="form-control search-input" id="user_search" type="search" placeholder="Search" autocomplete="off">
            `;

            $("#main_donator").replaceWith(html + dropdownHTML);

            var link = "/user/search/";

            $("#user_search").keyup(function(){
                let test = link +$("#user_search").val();
                $.ajax({
                type: "POST",
                url: test,
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
                },
                success: function(data){
                    var users = JSON.parse(data);
                    $(".dropdown-toggleable").html("");
                    for(var i = 0; i < users.length; i++) {
                        var href = "{{ url('/user/profile/v/') }}" + users[i].id;
                        var newishhtml = "<a class='p-2 d-block text-center' href="+href+">"+ users[i].fname + " " +users[i].lname + "</a>";
                        $(".dropdown-toggleable").append(newishhtml);
                    }
                }
                });
            });

            $("#user_search").click(function() {
                $(".dropdown-toggleable").show();
                if ($(".site-header").hasClass("sticky-on")) {
                    $(".dropdown-toggleable").addClass("dropdown-toggleable-sticky-on");
                } else {
                    $(".dropdown-toggleable").removeClass("dropdown-toggleable-sticky-on");
                }
            });

            $("#user_search").blur(function() {
                
                setTimeout((function() {
                    $(".dropdown-toggleable").hide();
                }), 500)
            });
        });
    
    </script>
{% endblock %}