{% extends "app.twig" %}

{% block pageStyles %}<link rel="stylesheet" href="{{ url('/assets/css/brandForm.css') }}">{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}

  {% if hasMessages() %}
    {% if successMessage() %}
        <script>swal("Success!", "{{successMessage()}}", "success");</script>
    {% elseif errorMessage() %}
        <script>swal("Error!", "{{errorMessage()}}", "error");</script>
    {% endif %}
  {% endif %}

  {% if error %}
    <script>swal("Error!", "{{error}}", "error");</script>
  {% endif %}

  <!--====== Page Title Start ======-->
	<section class="page-title-area page-title-area-custom">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12 text-center">
					<h1 class="page-title text-white">Register</h1>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->

  <div class="container my-5">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounder overflow-hidden">
          <div class="card-img-left d-none d-md-flex justify-content-center align-items-center p-5" {% if api_token %} style="background: scroll center url( {{ url('/assets/img/login2.jpg') }} );" {% endif %}>
            <!-- Background image for card set in CSS! -->
            <img src="{{url('/assets/img/default_profile_img.png')}}" class="img-fluid p-5" alt="default profile image"/>
          </div>
          <div class="card-body p-4 p-sm-5 green-bg">
            <h5 class="card-title text-center mb-3 fs-5">
            {% if api_token %}
              Organization Registration</h5>
              <div class="text-center">
                <span class="mb-2">Create an administrative account for your organization</span>
              </div>
            {% else %}
              Register</h5>
            {% endif %}
            <form method="post">

              <div class="form-floating row">
                <div class="col-lg-6 col-sm-6 form-floating mb-3">
                  <input type="text" name="fname" class="form-control rounder" id="floatingInputFname" placeholder="First Name" required>
                  <label class="px-4" for="floatingInputFname">First Name</label>
                </div>
                <div class="col-lg-6 col-sm-6 form-floating mb-3 rounder">
                  <input type="text" name="lname" class="form-control rounder" id="floatingInputLname" placeholder="Last Name" required>
                  <label class="px-4" for="floatingInputLname">Last Name</label>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control rounder" id="floatingInputEmail" placeholder="name@example.com">
                <label for="floatingInputEmail">Email address</label>
              </div>

              <hr>

              <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control rounder" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" name="confirm_password" class="form-control rounder" id="floatingPasswordConfirm" placeholder="Confirm Password">
                <label for="floatingPasswordConfirm">Confirm Password</label>
              </div>

              <div class="">
                {% if api_token %}
                  <a class="d-block mt-4 my-2 small" href="{{url('/user/login')}}/{{api_token}}">Have an account? Login</a>
                {% else %}
                  <a class="d-block my-2" href="{{url('/contact')}}">Are you registering an Organization? </a>
                  <a class="d-block my-2 small" href="{{url('/user/login')}}">Have an account? Login</a>
                {% endif %}
                <button class="btn main-btn float-right max-fifty" type="submit">
                  {% if api_token %}
                    Continue
                  {% else %}
                    Regsiter
                  {% endif %}
                  <i class="far fa-arrow-right"></i>
                </button>
              </div>

              <!--<hr class="my-4">

              <div class="d-grid mb-2">
                <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                  <i class="fab fa-google me-2"></i> Sign up with Google
                </button>
              </div>

              <div class="d-grid">
                <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                  <i class="fab fa-facebook-f me-2"></i> Sign up with Facebook
                </button>
              </div>-->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}<script src="{{ url('/assets/js/login.js') }}"></script>{% endblock %}
